*,*::before,*::after{box-sizing:border-box;-webkit-appearance:none}

.wrapper {
  width: 100%;
  height: auto;
}
.container {
  width: 1400px;
  margin: 0 auto;
}

.main-title {
  display: block;
  font-size: 68px;
  line-height: calc(88/68);
  font-family: 'Wild World';
  color: #fff;
}

.main-text {
  display: block;
  font-size: 30px;
  line-height: calc(42/30);
  font-family: 'Oswald';
  font-weight: 400;
  color: #fff;
}

.btn {
  display: inline-flex;
  font-size: 20px;
  line-height: calc(29.64/20);
  letter-spacing: 0.15em;
  font-family: 'Oswald';
  padding: 22px 20px;
  justify-content: center;
  text-transform: uppercase;
  background: #fff;
  position: relative;
  border-radius: 8px;
  border: none;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 65.5px;
    height: 22px;
    background-image: url('/img/btn-stripes.svg');
    background-size: 65.5px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.mint {
  background-color: #03010D;
  height: 100vh;
  padding: 207px 0 223px 0;
  overflow: hidden;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }
  img.bg,
  img.crocodile {
    position: absolute;
  }
  img.bg {
    top: 0;
    left: 412px;
    width: 1076px;
    height: auto;
    z-index: 0;
  }
  img.crocodile {
    top: 85px;
    right: 153px;
  }
  .main-title {
    margin: 0 0 45px 0;
  }
  .main-text {
    width: 580px;
    margin: 0 0 78px 78px;
    letter-spacing: -0.75px;
  }
  .btn {
    width: 248px;
    margin: 0 0 0 80px;
  }
}

.waterway {
  background: #333;
  height: 5000px;
  border: 1px solid red;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding: 134px 0;
  }
  .waterway-tabs {
    width: 404px;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    a {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      &.active {
        color: red;
      }
    }
  }
  .waterway-texts {
    width: 440px;
    height: 640px;
    border: 1px solid blue;
    overflow-y: hidden;
    // overflow-y: scroll;
  }
  #waterway-text-1 {
    background: coral
  }
  #waterway-text-2 {
    background: steelblue
  }
  #waterway-text-3 {
    background: lightgreen
  }
  #waterway-text-4 {
    background: lightseagreen
  }
}
