@keyframes water {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-213.333vw);
  }
}
@keyframes main-button {
  0% {
    // transform: translateY(1.563vw);
    margin-top: 12.76vw;
  }
  50% {
    // transform: translateY(0);
    margin-top: 11.198vw;
  }
  100% {
    // transform: translateY(1.563vw);
    margin-top: 12.76vw;
  }
}
@keyframes top-arrow {
  0% {
    top: -12%;
  }
  50% {
    top: -11%;
  }
  100% {
    top: -12%;
  }
}
@keyframes left-arrow {
  0% {
    left: -6%;
  }
  50% {
    left: -5%;
  }
  100% {
    left: -6%;
  }
}
@keyframes test {
  0% {
    transform: translateX(-50%);
    left: 50%;
  }
  100% {
    transform: translateX(-50%);
    left: 50%;
  }
}
@keyframes bubbles1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    top: -10%;
    opacity: 0.4;
  }
}
@keyframes bubbles-waterway {
  0% {
    margin: 0;
  }
  50% {
    margin: -2.292vw 0 0 0;
  }
  100% {
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  outline: none;
  outline-style: none;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #0d4b9e;
}
.container {
  width: 72.917vw;
  margin: 0 auto;
}
.main {
  height: 100vh;
  padding: 1.823vw 2.604vw;
  position: relative;
  overflow: hidden;
  .main__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .top-smoke {
    position: absolute;
    z-index: 2;
    width: 106.667vw;
    height: 78.438vw;
    left: -25.938vw;
    top: -11.719vw;
  }
  .buttom-smoke {
    position: absolute;
    z-index: 2;
    width: 53.594vw;
    height: 34.115vw;
    left: 1.875vw;
    top: 22.448vw;
  }
  .right-smoke {
    position: absolute;
    z-index: 2;
    width: 48.958vw;
    height: 35.938vw;
    left: 50.521vw;
    top: -0.573vw;
  }
  .water {
    z-index: 3;
    position: absolute;
    top: 71vh;
    // bottom: 0;
    left: 0;
    background-image: url(../img/main/water.png);
    background-size: 213.333vw 24.583vw;
    background-repeat: repeat-x;
    background-position: top;
    width: 426.667vw;
    height: 16.857vw;
    animation: 20s water linear infinite;
  }
  .water-blur1 {
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      width: 11.25vw;
      height: auto;
    }
    .header__right-block {
      display: flex;
      align-items: center;
      gap: 3.385vw;
      .header__nav {
        display: flex;
        align-items: center;
        gap: 2.604vw;
        a {
          text-decoration: none;
          font-family: "Oswald";
          font-style: normal;
          font-weight: 600;
          font-size: 0.833vw;
          line-height: 1.25vw;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: #ffffff;
          transition: all 0.3s;
          &:hover {
            border-bottom: 0.052vw solid #ff66c4;
            color: #ff66c4;
          }
        }
      }
      .header__button {
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border-radius: 0.417vw;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 600;
        font-size: 0.833vw;
        line-height: 1.25vw;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #07031f;
        border: none;
        width: 8.177vw;
        height: 2.292vw;
        transition: all 0.3s;
        .left-blok {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.26vw;
          width: 0.677vw;
          transition: all 0.3s;
          span {
            width: 100%;
            background-color: #ff66c4;
            height: 0.104vw;
          }
        }
        .right-block {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.26vw;
          width: 0.677vw;
          transition: all 0.3s;
          span {
            width: 100%;
            background-color: #ff66c4;
            height: 0.104vw;
          }
        }
        &:hover {
          background: #ff66c4;
          border-radius: 0.938vw;
          color: #ffffff;
          .left-blok,
          .right-block {
            opacity: 0;
          }
        }
      }
    }
  }
  .main__container {
    position: relative;
    .main-title {
      top: 14.583vw;
      left: 0;
      position: absolute;
      z-index: 3;
      font-family: "Wild World";
      font-style: normal;
      font-weight: 500;
      font-size: 2.188vw;
      line-height: 2.708vw;
      color: #ffffff;
      width: 40.885vw;
      span {
        color: #ff66c4;
      }
    }
    .main-subtitle {
      position: absolute;
      top: 28.646vw;
      width: 30.469vw;
      left: 4.063vw;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 500;
      font-size: 1.667vw;
      line-height: 2.188vw;
      color: #ffffff;
      z-index: 3;
      a {
        text-decoration: none;
        color: #ff66c4;
        border: 0.052vw solid #ff66c4;
        border-radius: 0.417vw;
        width: 8.073vw;
        height: 1.875vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
          margin: 0 0 0.208vw 0;
        }
      }
    }
    .populacion-container {
      position: absolute;
      right: 0;
      top: 6.25vw;
      z-index: 3;
      .main-populacion {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 3.333vw;
        line-height: 4.167vw;
        color: #ffffff;
        display: flex;
        gap: 0.781vw;
        span {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 300;
          font-size: 1.25vw;
          line-height: 1.875vw;
          border-radius: 0.417vw;
          border-left: 0.052vw solid #ff66c4;
          border-right: 0.052vw solid #ff66c4;
          width: 6.198vw;
          height: 2.552vw;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
      strong {
        margin: 1.302vw 0 0 0;
        display: block;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 300;
        font-size: 1.25vw;
        line-height: 1.875vw;
        color: #ffffff;
        width: 20.833vw;
      }
      .main-button {
        margin: 11.198vw 0 0 0;
        text-decoration: none;
        position: relative;
        display: flex;
        width: 10.417vw;
        height: 10.417vw;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 700;
        font-size: 1.042vw;
        line-height: 1.563vw;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #07031f;
        transition: all 0.3s;
        animation: main-button 3s linear infinite;
        z-index: 20;
        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 2.188vw;
          transition: all 0.3s;
        }
        &:hover {
          background: #ff66c4;
          width: 11.25vw;
          height: 11.25vw;
          color: #ffffff;
          transform: translate(-0.417vw, -0.417vw);
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
.beginning .beginning__container {
  transition: 0.3s opacity;
  &.remove {
    opacity: 0 !important;
  }
}
.beginning {
  position: relative;
  height: 156.25vw;
  width: 100%;
  z-index: 9;
  // opacity: 0.5;
  // transition: 1s opacity;
  // &.active {
  //   opacity: 1;
  // }
  .water-blur {
    z-index: 3;
    position: absolute;
    top: -4%;
    left: 0;
    width: 100%;
  }
  .beginning-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    .beginning-container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      .beginning-background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        transition: 0.2s transform;
      }
    }
  }
  .bubbles1 {
    position: absolute;
    width: 2.552vw;
    height: auto;
    left: 8.65%;
    top: 60%;
    z-index: 2;
    opacity: 0;
    &.active {
      animation: 1.5s bubbles1 linear;
    }
  }
  .bubbles2 {
    position: absolute;
    opacity: 0;
    width: 3.958vw;
    height: auto;
    left: 47%;
    top: 60%;
    &.active {
      animation: 1.5s bubbles1 linear;
    }
  }
  .bubbles3 {
    position: absolute;
    opacity: 0;
    width: 2.344vw;
    height: auto;
    left: 76%;
    top: 53%;
    &.active {
      animation: 1.5s bubbles1 linear;
    }
  }
  .bubbles4 {
    position: absolute;
    opacity: 0;
    width: 2.448vw;
    height: auto;
    left: 90%;
    top: 70%;
    &.active {
      animation: 2s bubbles1 linear;
    }
  }
  .beginning__container {
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: space-between;
    .beginning__slider {
      position: relative;
      width: 29.01vw;
      height: 29.01vw;
      border-radius: 50%;
      transform: translateY(7%);
      &::before {
        position: absolute;
        content: "";
        left: 50%;
        top: -12%;
        height: 0.26vw;
        width: 0.26vw;
        border-left: 0.104vw solid #ffffff;
        border-bottom: 0.104vw solid #ffffff;
        transform: translateX(-50%) rotate(315deg);
        animation: 1.5s top-arrow linear infinite;
      }
      &::after {
        position: absolute;
        content: "";
        left: -6%;
        top: 75%;
        height: 0.26vw;
        width: 0.26vw;
        border-left: 0.104vw solid #ffffff;
        border-bottom: 0.104vw solid #ffffff;
        transform: rotate(-136deg);
        animation: 1.5s left-arrow linear infinite;
      }
      .circl-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 29.01vw;
        height: 29.01vw;
        background-image: url(../img/beginning/circle.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 29.01vw 29.01vw;
        transition: all 0.4s;
      }
      .triangle {
        width: 22.031vw;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -65%);
      }
      .gif {
        position: absolute;
        width: 18.229vw;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .circl {
        position: absolute;
        width: 5.625vw;
        height: 5.625vw;
        border-radius: 50%;
        background-image: url(../img/beginning/clicable.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 500;
        font-size: 1.042vw;
        line-height: 1.563vw;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        z-index: 60;
        /* White */

        color: #ffffff;
        &:hover {
          cursor: pointer;
          background-image: url(../img/beginning/clicable-hover.png);
        }
        &.active {
          background-image: url(../img/beginning/clicable-active.png);
          top: 65.5%;
          left: 85%;
          cursor: auto;
        }
        &.top {
          top: -9.5%;
          left: 40.5%;
        }
        &.left {
          top: 65.5%;
          left: -4%;
        }
      }
    }
    .beginning__right-block {
      h2 {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 3.542vw;
        line-height: 4.583vw;
        color: #ffffff;
        display: flex;
        gap: 4.896vw;
        span {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 300;
          font-size: 1.25vw;
          line-height: 1.875vw;
          border-radius: 0.417vw;
          border-left: 0.052vw solid #ff66c4;
          border-right: 0.052vw solid #ff66c4;
          width: 9.375vw;
          height: 2.552vw;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s;
        }
      }
      strong {
        position: absolute;
        top: 78%;
        display: block;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 300;
        font-size: 1.563vw;
        line-height: 2.188vw;
        color: #ffffff;
        width: 33.854vw;
        opacity: 0;
        z-index: 0;
        transition: all 0.5s;
        span {
          display: block;
          margin: 1.042vw 0 0 0;
        }
        &.active {
          opacity: 1;
          z-index: 4;
        }
      }
    }
  }
}

.team {
  position: relative;
  height: 100vh;
  // background-color: rgba(13, 75, 158, 1);
  // background-color: #225cbf;
  padding: 10.417vw 0 0 0;
  overflow: hidden;
  .team-background {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .slider {
    position: absolute;
    left: 0;
    top: 50%;
    width: 60%;
    transform: translateY(-44%);
    z-index: 2;
    .slider-wrapper {
      width: 100%;
      height: 34.896vw;
      position: relative;
      display: flex;
      align-items: center;
      #c1 {
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: 10;
        // background-color: #ff66c472;
        touch-action: manipulation;
        // &.touch{
        //   touch-action: none
        // }
      }
      .slide {
        position: absolute;
        width: 18.229vw;
        height: auto;
        z-index: 2;
        left: 7%;
        width: 0;
        opacity: 0;
        transition: all 1s;
        &.active {
          width: 18.229vw;
          left: 68.1%;
          opacity: 1;
        }
        &.centr {
          opacity: 0.8;
          left: 35%;
          width: 12.917vw;
          right: auto;
          filter: blur(0.156vw);
        }
        &.left {
          opacity: 0.6;
          left: 11%;
          width: 8.021vw;
          right: auto;
          filter: blur(0.26vw);
        }
        &.none {
          left: 83%;
          // left: 50%;
          transform: translateY(-180%);
          width: 0vw;
          opacity: 0;
          filter: blur(0.26vw);
        }
        &.none-reverce {
          left: 11%;
          width: 0;
          opacity: 0;
        }
      }
    }
  }
  .capsule {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -39%);
    width: 27.604vw;
    height: 36.094vw;
    video {
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      width: 13.958vw;
      height: 30.208vw;
    }
    &::before {
      position: absolute;
      left: 50%;
      top: 48%;
      content: "";
      width: 15.833vw;
      height: 30.313vw;
      transform: translate(-50%, -50%);
      background-image: url(../img/team/blur-video.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      content: "";
      width: 27.604vw;
      height: 36.094vw;
      transform: translate(-48%, -50%);
      background-image: url(../img/team/capsule.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
  .team__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .team__title {
      font-family: "Wild World";
      font-style: normal;
      font-weight: 500;
      font-size: 3.542vw;
      line-height: 3.542vw;
      color: #ffffff;
    }
    .ridht-block {
      display: flex;
      flex-direction: column;
      margin: 1.563vw 0 0 0;
      position: relative;
      z-index: 3;
      .button-container {
        display: flex;
        align-items: center;
        gap: 0.521vw;
        .button {
          width: 4.167vw;
          height: 1.771vw;
          border: 0.052vw solid #ffffff;
          border-radius: 0.417vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          transition: 0.3s background, 0.3s border, 0.3s opacity;
          &.active {
            opacity: 0.2;
            border: 0.052vw solid #ffffff;
            &:not([disabled]):hover {
              background: none;
              border: 0.052vw solid #ffffff;
              cursor: auto;
            }
          }
          &:hover {
            background: #ff66c4;
            border: 0.052vw solid #ff66c4;
          }
          img {
            width: 2.917vw;
            height: auto;
            transition: all 0.3s;
          }
          &:last-child {
            transform: rotate(180deg);
          }
        }
      }
      span {
        margin: 7.813vw 0 0 0;
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 1.667vw;
        line-height: 1.667vw;
        color: #ffffff;
      }
      strong {
        margin: 0.26vw 0 0 0;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 1.354vw;
        line-height: 2.031vw;
        color: #ff66c4;
      }
      p {
        margin: 1.146vw 0 0 0;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 300;
        font-size: 1.146vw;
        line-height: 1.667vw;
        color: #ffffff;
        opacity: 0.6;
        width: 22.917vw;
      }
      .social {
        margin: 1.823vw 0 0 0;
        display: flex;
        gap: 0.781vw;
        a {
          width: 2.396vw;
          height: 2.396vw;
          border-radius: 50%;
          border-radius: 50%;

          svg {
            fill: white;
            width: 100%;
            height: auto;
            transition: 0.3s fill;
            path {
              transition: 0.3s fill;
            }
          }
          &:hover {
            svg {
              fill: #ff66c4;
              path {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
}

.main-title {
  display: block;
  font-size: 3.542vw;
  line-height: calc(88 / 68);
  font-family: "Wild World";
  color: #fff;
}

.main-text {
  display: block;
  font-size: 1.563vw;
  line-height: calc(42 / 30);
  font-family: "Oswald";
  font-weight: 400;
  color: #fff;
}

.btn {
  display: inline-flex;
  font-size: 1.042vw;
  line-height: calc(29.64 / 20);
  letter-spacing: 0.15em;
  font-family: "Oswald";
  padding: 1.146vw 1.042vw;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  color: #07031f;
  position: relative;
  border-radius: 0.417vw;
  border: none;
  overflow: hidden;
  transition: 0.3s background-color, 0.3s color;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 3.411vw;
    height: 1.146vw;
    background-image: url("/img/mint/btn-stripes.svg");
    background-size: 3.411vw auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  &:hover {
    background-color: #ff4cbd;
    color: #fff;
    img {
      filter: hue-rotate(100deg);
    }
  }
}

.fade-wrapper {
  margin-top: -112.5vw;
  // opacity: 0;
  // transition: 1s opacity;
  // &.active {
  //   opacity: 1;
  // }
}

#mintwaterway {
  width: 100%;
  height: 416.667vw;
  display: flex;
  position: relative;
  #mint-waterway-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: 1s transform;
    background: steelblue;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    &.active {
      .mint-test {
        transform: translateX(-100vw);
      }
      // #mint {
      //   transform: translateX(-1920px);
      // }
    }
  }
}

#mint {
  display: flex;
  background-color: #06000f;
  // position: sticky;
  // top: 0;
  // left: 0;
  flex: none;
  width: 100vw;
  height: 100vh;
  padding: 10.781vw 0 11.615vw 0;
  overflow: hidden;
  // transition: 1s transform;
  z-index: 9;
  .container {
    position: relative;
    margin: auto;
    z-index: 1;
  }
  img.bg,
  img.crocodile {
    position: absolute;
  }
  img.bg {
    top: -10.938vw;
    left: 7.969vw;
    width: 56.042vw;
    height: auto;
    z-index: -1;
  }

  .anime-circle {
    position: absolute;
    top: -3.75vw;
    left: 34.948vw;
    width: 48.125vw;
    height: auto;
    z-index: -2;

    .wrapper-circle {
      position: relative;
      width: 100%;
      height: 100%;
      .circle-anime {
        width: 100%;
        height: auto;
      }
      .circle-blur {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .character {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26.042vw;
        height: auto;
        z-index: 2;
      }
    }
  }
}
.main-title {
  margin: 0vw 0 2.813vw 0;
}
.main-text {
  width: 30.208vw;
  margin: 0 0 4.063vw 4.063vw;
  letter-spacing: -0.039vw;
}
.btn {
  width: 12.917vw;
  margin: 0 0 0 4.167vw;
  transition: 0.3s border-radius, 0.3s background, 0.3s color;
  // transition: .3s all;
  &:hover {
    border-radius: 0.938vw;
  }
}

.waterway-maintitle {
  font-size: 1.25vw;
  line-height: calc(35.5 / 24);
  font-family: "Oswald";
  font-weight: 300;
  padding: 0.313vw 0.833vw 0.521vw;
  border-width: 0vw 1px;
  border-style: solid;
  border-color: #ff4cbd;
  border-radius: 0.417vw;
  color: #fff;
  margin: 0.781vw 0 -1.302vw 0;
}

.mint-test {
  display: flex;
  width: 200vw;
  // transition: 1s transform;
}

#waterway {
  margin-left: -0.052vw;
  background: none;
  position: relative;
  flex: none;
  width: 100vw;
  height: 100%;
  margin-left: -0.052vw;
  transition: 1s background-size, 1s background-position;

  #waterway-bg {
    position: absolute;
    left: 0vw;
    top: 0vw;
    z-index: -1;
    min-height: 100%;
    width: auto;
    object-fit: cover;
    // transition: 1s width, 1s left, 1s top, 1s transform;
    transition: all 1s;
  }
  #waterway-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    height: 17.708vw;
    transition: 1s opacity;
  }
  .waterway-buble {
    width: 16.406vw;
    height: 16.406vw;
    position: absolute;
    top: 4.688vw;
    left: 32.292vw;
    transition: 1s transform;
    z-index: -1;
    animation: 4s bubbles-waterway ease-in-out infinite;
    .buble-container {
      width: 100%;
      height: 100%;
      position: relative;
      .buble {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 16.406vw;
        height: auto;
        z-index: 1;
      }
      .axolots {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13.102vw;
      }
    }
  }
  &.first {
    #waterway-bg {
      width: 178.646vw;
      left: 0;
      top: -2.969vw;
      min-height: 105%;
    }
    .waterway-buble {
      transform: scale(1) translate(0, 0);
      top: 4.688vw;
      left: 32.292vw;
    }
  }
  &.second {
    #waterway-bg {
      width: 248.281vw;
      // transform: translate(-44.427vw, 13.125vw);
      top: 0vw;
      left: -44.479vw;
    }
    .waterway-buble {
      transform: scale(1.25) translate(1.979vw, 3.021vw);
    }
  }
  &.third {
    #waterway-bg {
      width: 192.5vw;
      top: 0;
      left: -51.771vw;
    }
    #waterway-blur {
      opacity: 1;
    }
    .waterway-buble {
      transform: scale(1.6) translate(2.917vw, 3.646vw);
    }
  }
  &.four {
    #waterway-bg {
      width: 219.479vw;
      top: -10vw;
      left: -118.958vw;
      min-height: 116%;
    }
    #waterway-blur {
      opacity: 1;
    }
    .waterway-buble {
      transform: scale(1.95) translate(2.396vw, 4.531vw);
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("/img/waterway-fade.svg");
      background-size: 153.646vw auto;
      background-position: center center;
      background-repeat: no-repeat;
      width: 153.646vw;
      height: 23.281vw;
      bottom: -11.667vw;
      left: 50%;
      transform: translate(-50%, 0);
      display: none;
    }
    // padding: 6.979vw 0;
  }
  .waterway-tabs {
    margin: 6.667vw 0 0 0;
    width: 23.438vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.188vw;
    z-index: 6;

    a {
      font-size: 1.667vw;
      line-height: 1;
      font-family: "Wild World";
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      opacity: 0.3;
      transition: 1s font-size, 0.3s opacity;
      outline: none;
      &:hover {
        opacity: 1;
      }
      &.active {
        font-size: 3.542vw;
        opacity: 1;
      }
    }
  }
  .waterway-texts {
    width: 22.917vw;
    height: 100vh;
    overflow-y: hidden;
    color: #fff;
    z-index: 6;
    // overflow-y: scroll;
    .text-accent {
      color: #ff4cbd;
    }
    #waterway-text-1,
    #waterway-text-2,
    #waterway-text-3,
    #waterway-text-4 {
      height: 100vh;
      // padding: 6.979vw 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .waterway-title {
      font-size: 2.813vw;
      line-height: calc(64 / 54);
      font-family: "Oswald";
      font-weight: 700;
      margin: 0 0 0.625vw 0;
    }
    p {
      display: block;
      font-size: 1.563vw;
      line-height: calc(40 / 30);
      font-family: "Oswald";
      font-weight: 400;
      color: #fff;
      margin: 1.823vw 0 0 0;
    }
    ul {
      // margin: 0 0 2.708vw 0;
      li {
        font-size: 1.25vw;
        line-height: 1.771vw;
        font-family: "Oswald";
        font-weight: 300;
        opacity: 0.6;
        padding: 0 0 0 1.823vw;
        position: relative;
        margin-top: 0.781vw;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 1.042vw;
          left: 0.729vw;
          width: 0.208vw;
          height: 0.208vw;
          border-radius: 50vw;
          background: #fff;
        }
      }
    }
    a {
      text-decoration: none;
      border: 0.052vw solid #ff66c480;
      color: #ff66c4;
      border-radius: 0.417vw;
      width: 8.073vw;
      height: 1.875vw;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
        margin: 0 0 0.208vw 0;
      }
    }
  }
}

.accordion-wrap {
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

.accordion {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Oswald";
  font-weight: 300;
}

.accordion-item {
  width: 34.375vw;
  // margin: 0 0 0.938vw 0;
  border-bottom: 0.052vw solid rgba(255, 255, 255, 0.15);
  user-select: none;
  overflow: hidden;
  max-height: 3.646vw;
  transition: 0.3s max-height, 0.3s border-color;
  &:hover {
    border-color: #ff4cbd;
  }
  &.show {
    max-height: 15.625vw!important;
  }
}

.accordion-title {
  font-size: 1.354vw;
  line-height: calc(36 / 26);
  padding: 0.915vw 0 1.175vw 2.344vw;
  position: relative;
  transition: 0.3s color;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 0.104vw);
    left: 0.938vw;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.3s height, 0.3s background-color;
  }
  &:before {
    width: 0.104vw;
    height: 0.833vw;
  }
  &:after {
    width: 0.833vw;
    height: 0.104vw;
  }

  &:hover {
    cursor: pointer;
    color: #ff4cbd;
    &::before {
      background: #ff4cbd;
    }
    &:after {
      background: #ff4cbd;
    }
  }
  &.show {
    color: #ff4cbd;
    &:before,
    &:after {
      background-color: #ff4cbd;
    }
    &:before {
      height: 0;
    }
  }
}

.accordion-content {
  font-size: 1.146vw;
  line-height: calc(32 / 22);
  padding: 0.365vw 0 1.51vw 2.344vw;
  opacity: 0.6;
}

footer {
  position: relative;
  overflow-x: hidden;
  height: auto;
  .footer-background {
    position: absolute;
    left: 0;
    bottom: 0vw;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .footer-light {
    position: absolute;
    left: 18.75vw;
    top: -2.604vw;
    width: 104.844vw;
    object-fit: cover;
    height: auto;
  }

  .faq {
    // min-height: 100vh;
    height: 54.688vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // justify-content: center;
    padding: 7.292vw 0 0 0;
    .main-title {
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 2.2vw 0;
      z-index: 1;
    }
  }
}

.footer {
  line-height: 1;
  font-family: "Wild World";
  font-weight: 500;
  color: #fff;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 7.813vw 0 4.583vw 0;
  .join-top,
  .join-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .join-top {
    > span {
      text-transform: uppercase;
    }
  }
  .join-bot {
    > span {
      font-size: 7.292vw;
      font-family: "Oswald";
      line-height: calc(207 / 140);
      color: #ff4cbd;
      transform: translateY(-1.042vw);
    }
    > img {
      margin: 0 0 0 10.677vw;
      width: 24.896vw;
    }
  }
  .f-main-title {
    font-size: 5.313vw;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    gap: 2.083vw;
    margin: 1.563vw 0 4.167vw 0;
    .btn {
      width: 100%;
      font-size: 1.458vw;
      line-height: calc(41.5 / 28);
      padding: 1.51vw 1.042vw;
      margin: 0;
      img {
        display: block;
        width: 1.563vw;
        height: auto;
        margin: 0 0.729vw;
        transition: all 0.3s;
      }
      &:before {
        left: -2.083vw;
      }
      &:after {
        right: -2.083vw;
      }
      &:hover {
        img {
          filter: saturate(0) brightness(0) invert(1);
        }
      }
    }
  }
  .terms {
    display: flex;
    justify-content: center;
    gap: 2.083vw;
    margin: 0 0 2.083vw 0;
    a {
      font-size: 0.833vw;
      line-height: calc(24 / 16);
      letter-spacing: 0.15em;
      font-family: "Oswald";
      text-transform: uppercase;
      color: #fff;
      opacity: 0.6;
      text-decoration: none;
    }
  }
  .powered {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    a {
      img {
        width: 7.813vw;
        height: auto;
      }
    }
  }
}
